

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    list-style-type: none !important;
    box-sizing: border-box !important;
    
}

.b1, .b2, .b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10{
    background-color: black;

    
  }
  
  .content {
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
  
  
  }
  

  
  #second, #third,#forth,#five,#six,#seven,#eight,#nine,#ten,#first {
    display: none
  }
  
  button {
    outline: none;
  }

  .b2,.b4{
    transform: translateX(50%);
  }
  .b3{
    transform: translateX(100%);
  }
  .b7,.b9{
    transform: translateX(-50%);
  }
  .b8{
    transform: translateX(-100%);
  }


  /* .left{
    left: -2%;
  }

  .right{
    right: -2%;
  } */
  .min_vh_100{
    min-height: 110vh;
  }

  .pac{
    transform: translateY(30%);
    width: 75%;
  }
  .ringss{
    top: 4% !important;
    left: 22% !important;
    width: 72%;
  }
 

  .round{
    border-radius: 50%;
    padding: 22px 12px 22px 19px;
    transition: 300ms ease-in-out;
  }
  .round:hover{
   box-shadow: var(--box_shadow);
   background-color: #F1C85D !important;
  }
  .phase_1:hover .round {
    box-shadow: var(--box_shadow);
    background-color: #F1C85D !important;
  }
  .phase_2:hover .round{
    box-shadow: var(--box_shadow);
    background-color: #F1C85D !important;
  }
  .phase_3:hover .round{
    box-shadow: var(--box_shadow);
    background-color: #F1C85D !important;
  }
  .phase_4:hover .round{
    box-shadow: var(--box_shadow);
    background-color: #F1C85D !important;
  }
  .phase_5:hover .round1{
    box-shadow: var(--box_shadow);
    background-color: #F1C85D !important;
  }
  .round1{
    border-radius: 50%;
    padding: 22px 11px 22px 12px;
    transition: 300ms ease-in-out;
  }

  .width{
    width: 100% !important;
  }

  .roadmap{
    min-height: 120vh;
  }

  .bottom{
    bottom: -5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .wallet{
    right: 39px;
    top: 20px;
}

.underline {

  position: relative; 
}   

.underline:after {
   position: absolute;
   content: '';
   height: 5px;
   bottom: -4px; 
   margin: 0 auto;
left: 0;
  right: 0;
width: 100%;
background: #F1C85D;


-o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.underline:hover:after {
width: 0%;
background: orange;
}