:root {

   
    --color_primary: #FDDA60;
    --color_black: #000000;

   
    --fs_xxl: 64px;
    --fs_xl: 36px;
    --fs_lg: 24px;
    --fs_md: 22px;
    --fs_sm: 20px;
    --fs_xs: 16px;

    --box_shadow: 0px 4px 24px rgba(253, 218, 96, 0.8);


    --line_h_25: 25.6px;
    --line_h_69: 69.6px;


}

@media only screen and (min-width: 1200px){
  .bottom{
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .phase_1{
    transform: translateX(-23%);
  }
  .phase_2{
    transform: translateX(-5%);
  }
  .phase_3{
    transform: translate(0%,   0%);
  }
  .phase_4{
    transform: translateX(-4%);
  }
  .phase_5{
    transform: translateX(-14%);
  }
  .min-1400-vh{
    height: 870px;
  }

}

@media (min-width:1400px) {
   
    .min-1400-vh{
      min-height: 100vh;
    }
   

    
      .ringss {
        top: 0% !important;
        left: 22% !important;
        width: 61%;
    }

    .phase_1{
      transform: translateX(-23%);
    }
    .phase_2{
      transform: translateX(-10%);
    }
    .phase_3{
      transform: translateX(-7%);
    }
    .phase_4{
      transform: translateX(-10%);
    }
    .phase_5{
      transform: translateX(-17%);
    }
    .pac {
      transform: translateY(20%);
      width: 67%;
  }
  .w_75{
    width: 100%;
  }
}

  

  

@media only screen and (max-width: 769px) {
    

    .grass_1{
        right: 0px;
        top: 0%;
        width:300px ;
    }
    .grass_2{
        left: 0px;
        top: 0%;
        width:300px ;   
    }

    .w-40{
        width: 100% !important;
    }

    :root{
        
    --fs_xxl: 40px;
    --fs_xl: 30px;
    --fs_lg: 20px;
    --fs_md: 16px;
    --fs_sm: 16px;
    --fs_xs: 16px;
    }
  }
@media only screen and (min-width: 1500px) {

    :root{
        
      --fs_xxl: 85px;
      --fs_xl: 30px;
      --fs_lg: 20px;
      --fs_md: 16px;
      --fs_sm: 16px;
      --fs_xs: 26px;
      }
  }

 

  @media only screen and (max-width: 998px){
  
 

    .b1,.b5{
        transform: translateY(100%);
      }
      .b2,.b4{
        transform: translateY(50%);
      }
      .b3{
        transform: translateY(0%);
      }
      .b6,.b10{
        transform: translateY(-100%);
      }
      .b7,.b9{
        transform: translateY(-50%);
      }
      .b8{
        transform: translateX(0%);
      }
      .w_75{
        width: 100%;
      }
     
    
    .about{
      align-items: center  !important;
      text-align: center !important;

    }

    .min-1400-vh{
      height: 824px;
    }
    
    
  }
  @media (min-width:992px) {
    .min-1400-vh{
      height: 900px;
    }
    .w_75{
      width: 75%;
    }
  }

  @media only screen and (max-width: 568px){

    .min_vh_100{
        min-height: 100vh !important;
    }
 
    .content{
      top: 25%;
      position: absolute;
      left: 50%;
  }
    
  .width{
    width: 100% !important;
  }
  .bottom{
    bottom: 0%;
    left: 15%;
    transform: translateX(0%);
    display: inline-block;
  }
  .wallet{
    display: none !important;
  }
  .min-1400-vh{
    height: 624px;
  }
}
