:root {

   
    --color_primary: #FDDA60;
    --color_black: #000000;

   
    --fs_xxl: 64px;
    --fs_xl: 36px;
    --fs_lg: 24px;
    --fs_md: 22px;
    --fs_sm: 20px;
    --fs_xs: 16px;

    --box_shadow: 0px 4px 24px rgba(253, 218, 96, 0.8);


    --line_h_25: 25.6px;
    --line_h_69: 69.6px;


}

@media (min-width:300px) {
    :root {
        --fs_xxl: 56px;
        --fs_xl: 36px;
        --fs_lg: 24px;
        --fs_md: 22px;
        --fs_sm: 20px;
        --fs_xs: 16px;    
    }
}

@media (min-width:576px) {
    :root {
        --fs_xxl: 64px;
        --fs_xl: 36px;
        --fs_lg: 24px;
        --fs_md: 22px;
        --fs_sm: 20px;
        --fs_xs: 16px;    
    }
}

@media (min-width:776px) {
    :root {
        --fs_xxl: 64px;
        --fs_xl: 36px;
        --fs_lg: 24px;
        --fs_md: 22px;
        --fs_sm: 20px;
        --fs_xs: 16px;    
    }
}

@media (min-width:992px) {
    :root {
        --fs_xxl: 64px;
        --fs_xl: 36px;
        --fs_lg: 24px;
        --fs_md: 22px;
        --fs_sm: 20px;
        --fs_xs: 16px;
    
    }
}

@media (min-width:1400px) {
    .bg-hero{
        background-image: url(../image/png/hero.png);
        background-position: center  ;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 100vh !important;
        z-index: -30 !important;
    }
}


@media only screen and (max-width: 1500px) {
    .bg-hero{
        background-image: url(../image/png/hero.png);
        background-position: center  ;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 135vh !important;
       
    }
  }