@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'heading';
    src: url(../font/FontsFree-Net-AzoSans.ttf);
}

.ff_heading {
    font-family: 'heading' !important;
}

.ff_body {
    font-family: 'Montserrat', sans-serif !important;
}

.fs_xxl {
    font-size: var(--fs_xxl) !important;
}

.fs_xl {
    font-size: var(--fs_xl);
}

.fs_lg {
    font-size: var(--fs_lg);
}

.fs_md {
    font-size: var(--fs_md);
}

.fs_sm {
    font-size: var(--fs_sm);
}

.fs_xs {
    font-size: var(--fs_xs) !important;
}


.fw_400 {
    font-weight: 400 !important;
}
.fw_500 {
    font-weight: 500 !important;
}

.fw_600 {
    font-weight: 600 !important;
}

.fw_700 {
    font-weight: 700 !important;
}
.fw_800 {
    font-weight: 800 !important;
}
.fw_900 {
    font-weight: 900 !important;
}


.text_gold{
    color: var(--color_primary);
}

.bg_gold{
    background-color: var(--color_primary);
}

.gold_shadow{
    box-shadow: var(--box_shadow);
}